﻿@model Snapcode.Model.Removal
@{
    ViewBag.Title = "Removal " + cache.Setting.Sitename;
    ViewBag.Description = "Removal " + cache.Setting.Sitename;
    ViewBag.Canonical = head.Canonical("Index", "Remove");
    ViewBag.Robots = "index, nofollow";
}

<div class="container">
    <div class="col-8">
        <h3 class="box-title">Remove My Account</h3>
        <div class="grid-box">

            @if (ViewBag.IsSucceed != null)
            {
                @if (ViewBag.IsSucceed)
                {
                    <div>
                        <div class="alert alert-success">@ViewBag.Message</div>
                    </div>
                }
                else
                {
                    <div>
                        <div class="alert alert-danger">@ViewBag.Message</div>
                    </div>
                }
            }

            <form action="@Url.Action("Index","Remove")" method="post">
                <div class="form-list">
                    <div class="form-item">
                        <label for="username">Username</label>
                        <input type="text" name="username" id="username" value="@Model.Username" />
                    </div>
                    <div class="form-item">
                        <label for="email">E-Mail</label>
                        <input type="text" name="email" id="email" value="@Model.Mail" />
                    </div>
                    <div class="form-item">
                        <label for="link">Site Link</label>
                        <input type="text" name="link" id="link" value="@Model.Url" />
                    </div>
                    <div class="form-item">
                        <label for="message">Message</label>
                        <textarea placeholder="Message" name="message" id="message">@Model.Description</textarea>
                    </div>
                    <div class="form-submit">
                        <button class="btn-success">Remove Me!</button>
                    </div>
                </div>
            </form>

            <h3 class="box-title mt-5">New Register Accounts</h3>
            <div class="accounts-box">
                @foreach (var item in cache.Profiles.OrderBy(x => Guid.NewGuid()).Take(6))
                {
                    var fullname = item.FirstName + " " + item.LastName;
                    <div class="account-item">
                        <div class="image">
                            <a href="@Url.Action("Index","Profile", new { username = item.Username })" title="@seo.ProfileUserHref(item.Username, fullname)">
                                <picture>
                                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8/x8AAwMCAO+ip1sAAAAASUVORK5CYII="
                                         onerror="this.src='/_assets/images/not_found.png'"
                                         lazy-src="@item.BoorCode" width="100" height="100"
                                         alt="@seo.ProfileUserImage(item.Username,fullname,item.About)" title="@seo.ProfileUserImage(item.Username,fullname,item.About)">
                                </picture>
                            </a>
                        </div>
                        <div class="account-info">
                            <h3><a href="@Url.Action("Index","Profile", new { username = item.Username })" title="@seo.ProfileUserHref(item.Username, fullname)">@item.FirstName @item.LastName</a></h3>
                            <p>@@@item.Username</p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-4 aside">
        <div class="sidebar-sticky">
            <div id="sidebar" class="absolute">
                <div class="widget">
                    <h3 class="widget-title">Quick Search</h3>
                    <div class="aside-search">
                        <input class="form-control" type="text" id="asideInput" placeholder="Search" aria-label="Search">
                        <button class="aside-search-button" id="asideButton" aria-label="Search"><i class="icon-search"></i></button>
                    </div>
                </div>
                @if (cache.AdsAccounts != null)
                {
                    if (!string.IsNullOrEmpty(cache.AdsAccounts.Ads336x280))
                    {
                        <div class="widget">
                            <h3 class="widget-title">Sponsored</h3>
                            <div class="ads">
                                @cache.AdsAccounts.Ads336x280
                            </div>
                        </div>
                    }
                }
                <div class="widget">
                    <h3 class="widget-title">Lists</h3>
                    <ul class="widget-categories">
                        @foreach (var item in cache.Lists.OrderBy(x => Guid.NewGuid()).Take(15))
                        {
                            <li><a href="@Url.Action("Index","List", new { slug = item.Slug })" title="@seo.CategoryHrefText(item.Name)">@item.Name</a></li>
                        }
                    </ul>
                </div>
                <div class="widget">
                    <h3 class="widget-title">Categories</h3>
                    <ul class="widget-categories">
                        @foreach (var item in cache.Categories.OrderBy(x => Guid.NewGuid()).Take(15))
                        {
                            <li><a href="@Url.Action("Index","Category", new { slug = item.Slug })" title="@seo.CategoryHrefText(item.Name)">@item.Name</a></li>
                        }
                    </ul>
                </div>
                @if (cache.AdsAccounts != null)
                {
                    if (!string.IsNullOrEmpty(cache.AdsAccounts.Ads300x600))
                    {
                        <div class="widget">
                            <h3 class="widget-title">Sponsored</h3>
                            <div class="ads">
                                @cache.AdsAccounts.Ads300x600
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>