:root {
    --main-color: #FFFC00;
    --facebook: #1877f2;
    --twitter: #1da1f2;
    --youtube: #ff0000;
    --pinterest: #e60023;
    --instagram: #833ab4;
}
*, ::after, ::before {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}

.mt-5{
    margin-top:2rem!important;
}

.truncate3x {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.truncate2x {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

body {
    color: #444;
    background-color: #f0f0f0;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    font-size: 13px;
    overflow-x: hidden
}
body.overlay{
    overflow:hidden!important;
}


.d-flex-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
}

.list-horizontal {
    padding: 0;
    margin: 0;
    list-style: none;
}

.list-horizontal li {
    float: left;
    margin-right: 10px;
}

.list-horizontal li a {
    color: #fff;
    text-decoration: none;
}

.list-horizontal li a:hover {
    text-decoration: underline;
}

header {
    width: 100%;
    box-shadow: 0 0 10px 5px rgba(0 0 0 / 10%);
    margin-bottom:30px;
    background:#fff;
}

header ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

header .top-header {
    height:35px;
    border-bottom:1px solid rgba(0,0,0,0.1);
    background:var(--main-color);
    color:#fff;
}

header .top-header a{
    color:#333;
    text-decoration:none;
}

.logo_container{
    height:120px;
    display:flex;
}

header .logo {
    width: 100%;
    align-items: center;
    display: flex;
    height:120px;
    justify-content:center;
}

header .logo img {
    width: 300px;
    height: 49px;
}

header .banner {
    width: 66.66%;
    align-items: center;
    display: flex;
    height: 120px;
    justify-content:center;
}

.header-menu {
    width: 100%;
    height: 47px;
    background: #fcfcfc;
    position: relative;
    box-shadow: inset 0 1px 3px rgba(0 0 0 / 10%);
}
.header-menu::after,
.menu-list::after,
.container::after{
    clear:both;
    display:table;
    content:"";
}

.header-menu .menu-list{
    width: calc(100% - 50px);
}

.header-menu .menu-list .menu-item{
    display:inline-block;
    border-right:1px solid #dedede;
}
.header-menu .menu-list .menu-item:first-child{
    border-left:1px solid #dedede;
}
.header-menu .menu-list .menu-item a{
    padding: 0 14px;
    font-size: 13px;
    font-weight: 600;
    line-height:47px;
    color:#333;
    text-decoration:none;
    display:block;
}

.header-menu .menu-list .menu-item a:hover{
    text-decoration:underline;
}

.header-menu .menu-list .menu-item.dropdown ul.dropdown-menu{
    display:none;
}
.dropdown{
    position: relative;
}
.dropdown .dropdown-toggle {
    padding-right: 26px!important;
}
.dropdown::after {
    content: "";
    position: absolute;
    right: 10px;
    color: red;
    top: 20px;
    border: solid #333;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 2px;
    transform: rotate( 45deg);
    -webkit-transform: rotate( 45deg);
}

.dropdown:hover > .dropdown-menu {
    display: block !important;
    position: absolute;
    z-index: 1;
    width: 250px;
    background: #fff;
    box-shadow:0 0 10px 5px rgb(0 0 0 / 10%);
}

.dropdown:hover > .dropdown-menu li{
   border-bottom: 1px solid rgba(0,0,0,.05);
}

.dropdown:hover > .dropdown-menu li a {
    text-align: left;
    font-size: 14px;
    color: #393030;
    width: 250px;
    height:unset!important;
    line-height:unset!important;
    padding: 15px;
    display:block;
}

.header-menu .menu-items {
    width: 50px;
    position: absolute;
    right: 0;
    top: 0;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-menu .menu-items div {
    width: 50px;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    cursor:pointer;
    border-left:1px solid #dedede;
    border-right:1px solid #dedede;
}

.header-menu .menu-items .menu_icon{
    display:none;
} 

.container {
    width: 1140px;
    margin: 0 auto;
    position:relative;
}
.col-8{
    width:63.66%;
    float:left;
    margin-right:3%;
    margin-bottom: 20px;
}

.grid-box {
    background: #f9f9f9 !important;
    box-shadow: 0 1px 3px 0 rgba(0 0 0 / 10%);
    padding: 20px;
}
.grid-box::after{
    clear:both;
    display:table;
    content:"";
}

.featured-box{
    width: 100%;
    display: flex;
    height: 300px;
    margin-bottom: 20px;
}

.featured-box div{
    flex:1;
    text-align: center;
    padding: 0 10px;
    background-color: #fff;
    margin-right: 5px;
    box-shadow: 0 1px 3px 0 rgba(0 0 0 / 10%);
}
.featured-box div:last-child{
    margin-right: 0;
}

.column-list-2{
    width: 100%;
}
.column-list-2::after{
    display: table;
    content: "";
    clear: both;
}
.column-list-2 .col-item{
    width: 49%;
    margin-right: 2%;
    float: left;
}
.column-list-2 .col-item:last-child{
    margin-right: 0;
}

.box-title {
    background: #fff;
    color: #232323;
    border-top: 2px solid var(--main-color);
    font-size: 1rem;
    box-shadow: 0 1px 3px 0 rgba(0 0 0 / 10%);
    margin:0;
    text-align:center;
    padding:10px;
}

.box-categories{
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(0 0 0 / 10%);
    width: 100%;
}

.box-categories ul{
    width: 100%;
    list-style: none;
    padding: 0px;
    margin: 0;
}

.box-categories ul li{
    margin-bottom: 10px;
}
.box-categories ul li:last-child{
    margin-bottom: 0;
}
.box-categories ul li a{
    padding: 10px;
    color: #333;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    text-decoration: none;
    transition: 0.15s;
    font-weight: 700;
}
.box-categories ul li a:hover{
    background-color: var(--main-color);
    text-decoration: underline;
}

.accounts-box{
    width: 100%;
}
.accounts-box::after{
    clear:both;
    display:table;
    content:"";
}

.accounts-box .account-item{
    width: 31.33%;
    float: left;
    margin-right: 3%;
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%);
    text-align: center;
    padding: 20px 0;
    margin-bottom: 20px;
}
.accounts-box .account-item:nth-child(3n){
    margin-right: 0;
}

.accounts-box .account-item .image{
    width: 100px;
    height: 100px;
    margin: 20px auto;
}

.accounts-box .account-item .image img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border:2px solid var(--main-color);
    display: block;
}
.accounts-box .account-item .account-info h3{
    margin-bottom: 20px;
}
.accounts-box .account-item .account-info h3 a{
    color:#333;
    text-decoration: none;
}

.text-card {
    width: 100%;
    padding: 20px;
    background: #fff;
    margin-bottom: 25px;
    font-size:1rem;
}
.text-card h1{
    margin-bottom:20px;
    font-size:1.5rem;
}

.profile-list {
    -webkit-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 30px;
    column-gap: 30px;
    margin: 30px 0;
}

.profile-list::after{
    clear:both;
    content:"";
    display:table;
}

.profile-list .col-4 {
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%);
    text-align: center;
    position: relative;
    display: inline-block;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    width:100%;
    margin-bottom:20px;
}
.profile-list .col-4:nth-child(3n){
    margin-right:0;
}

.card{
    width:100%;
    padding:20px;
}
.card .card-header {
    width: 100%;
    margin-bottom:10px;
}
.card .card-header a{
    color:#333;
    font-size:1rem;
    text-decoration:none;
}
.card .card-header p{
    margin-top:10px;
    font-size:0.875rem;
}

.card .card-body{
    width:150px;
    height:150px;
    margin: 0 auto;
}
.card .card-body img{
     width:150px;
    height:150px;
}

.card .card-footer{
    margin-top:10px;
    font-size:.875rem;
}

.card .card-footer p{
    margin-bottom:10px;
}

.card .card-footer div a{
    padding:2px 5px;
    border:1px solid #dedede;
    color:#333;
    text-decoration:none;
    margin-bottom:10px;
    margin-right:10px;
    display:inline-grid;
}
.card .card-footer div a:hover{
    background:var(--main-color);
}


.aside {
    width: 33.33%;
    position: relative;
    float: left;
}
.aside::after {
    clear:both;
    display:table;
    content:"";
}

.widget {
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 0 1px 3px 0 rgba(0 0 0 / 10%);
}

.widget .widget-title {
    background: #fff;
    color: #232323;
    border-top: 2px solid var(--main-color);
    font-size: 1rem;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%);
    margin: 0;
    text-align: center;
    padding: 10px;
}

.widget .widget-posts {
    width: 100%;
    margin:0;
    list-style:none;
    background:#f9f9f9;
    padding:10px;
}
.widget .widget-posts li{
    height:100px;
    margin-bottom:13px;
}
.widget .widget-posts li:last-child{
    margin-bottom:0px;
}
.widget .widget-posts li .image{
    width:145px;
    height:100px;
    margin-right:10px;
    float:left;
}
.widget .widget-posts li .image img{
    width:145px;
    height:100px;
    object-fit:cover;
}

.widget .widget-posts li .title {
    margin:0 0 10px 0;
}
.widget .widget-posts li .meta{
    font-size:12px;
}
.widget .widget-posts li .meta i{
    position:relative;
    top:3px;
}

.widget .widget-posts li .title a {
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    text-decoration: none;
}
.widget .widget-posts li .title a:hover {
    text-decoration: underline;
}

.widget .widget-categories {
    width: 100%;
    list-style: none;
    padding: 0px;
    margin: 0;
    background:#f9f9f9;
}

.widget .widget-categories li{
    margin-bottom:10px;
}

.widget .widget-categories li a {
    padding:10px;
    color: #333;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    text-decoration: none;
    transition: 0.15s;
    font-weight:700;
}
    .widget .widget-categories li a:hover{
        background-color:var(--main-color);
        text-decoration: underline;
    }

footer {
    padding-top: 5px;
    width: 100%;
    background-color: #333;
    color: #fff;
}
.justify-content-between {
    justify-content: space-between !important;
}

.breadcrumb {
    width: 100%;
    margin-bottom: 15px;
}
.breadcrumb ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.breadcrumb ul li {
    margin-right: 10px;
    float: left;
}
.breadcrumb ul li a {
    color: var(--main-color);
    text-decoration: none;
}
.breadcrumb ul li a::after {
    content: ">";
    padding-left: 10px;
    position: relative;
    top: 1px;
}
.breadcrumb::after{
    clear:both;
    display:table;
    content:"";
}

.cookie-box {
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px 20px;
    position: fixed;
    z-index: 9999;
    bottom: 0;
}

.cookie-box .cookie-text {
    min-height: 40px;
    float: left;
    width: 80%;
}

.cookie-box .cookie-button {
    float: left;
    width: 20%;
}

.cookie-box .cookie-button #accept-cookie {
    width: 50%;
    border: 1px solid #198754;
    background: #198754;
    height: 40px;
    border-radius: 5px;
    color: #fff;
}

.cookie-box .cookie-button #close-cookie {
    width: 40%;
    border: 1px solid #dc3545;
    background: #dc3545;
    height: 40px;
    border-radius: 5px;
    margin-left: 5%;
    color: #fff;
}

.menu-container {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: rgba(0,0,0,.60);
    box-shadow: 0 0 15px #dedede;
    z-index: 99;
    display: none;
}

.menu-container .menu-overlay {
    width: 300px;
    height: 100%;
    background: #fff;
    box-shadow: 0 0 15px #dedede;
}
.menu-container .menu-close {
    width: 100%;
    height: 30px;
    background: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.menu-container .menu-overlay .side-menu {
    margin: 20px 0;
}
.menu-container .menu-overlay .side-menu ul {
    margin: 0;
    padding: 0;
    list-style:none;
}
.menu-container .side-menu ul li {
    border-bottom: 1px solid #dedede;
}
.menu-container .side-menu ul li a {
    padding: 0 10px;
    color: #333;
    text-decoration: none;
    display: block;
    padding-bottom: 5px;
    padding-top: 5px;
}
.list-social-horizontal {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}
.list-social-horizontal li {
    float: left;
    width: 30px;
    height: 30px;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border-radius: 50%;
}
.list-social-horizontal li a i {
    position: relative;
    top: 3px;
}
.menu-active {
    display: block !important;
}

.search-active {
    display: block !important;
}

.search-container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: none;
}
.search-container .search-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.60);
    z-index: 999;
    position: relative;
}

.search-container .search-overlay .search-close {
    position: absolute;
    right: 20px;
    font-size: 30px;
    z-index: 99;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 50%;
    top: 20px;
    cursor: pointer;
    font-weight: 700;
}

.search-container .search-overlay div {
    width: 80%;
    position: relative;
}

.search-container .search-overlay div input {
    width: 100%;
    height: 50px;
    border: 1px solid #dedede;
    border-radius: 10px;
    padding-left: 10px;
    box-sizing: border-box;
    padding-right: 45px;
    font-size: 1rem;
}

.search-container .search-overlay div button {
    position: absolute;
    right: 0;
    height: 50px;
    width: 40px;
    background: #fff;
    border: 1px solid #dedede;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
}

.profile-card {
    width: 100%;
    padding: 20px;
    background: #fff;
    margin-bottom: 25px;
    font-size:1rem;
}
.profile-card h1{
    margin-bottom:20px;
    font-size:1.5rem;
}
.profile-card .avatar{
    width:150px;
    height:150px;
    float:left;
    margin-right:25px;
}
.profile-card .avatar img{
    width:150px;
    height:150px;
    display:block;
}

.profile-card .profile-bar{
    height:150px;
}

.rate-box{
    margin-top:20px;
}
.rate-box .rate-button{
    background:var(--main-color);
    border:1px solid #dedede;
    font-weight:700;
    padding:10px 15px;
    cursor:pointer;
}

.social-card {
    width: 100%;
    padding: 20px;
    background: #fff;
    margin-bottom: 25px;
    font-size: 1rem;
    text-align:center;
}
.social-card .title{
    margin-bottom:10px;
}
.social-card .flex-list{
    display: flex;
}
.social-card .flex-list div{
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    padding:10px;
}
.social-card .flex-list div a{
    color:#fff;
    text-decoration:none;
}
.social-card .flex-list div i{
    margin-right:10px;
    position:relative;
    top:3px;
}

.social-card .flex-list div.facebook{
    background:var(--facebook);
    color:#fff;
}
.social-card .flex-list div.instagram{
    background:var(--instagram);
    color:#fff;
}
.social-card .flex-list div.pinterest{
    background:var(--pinterest);
    color:#fff;
}
.social-card .flex-list div.youtube{
    background:var(--youtube);
    color:#fff;
}
.social-card .flex-list div.twitter{
    background:var(--twitter);
    color:#fff;
}


.modal {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.70);
    overflow: hidden;
    display: none;
    justify-content: center;
    align-items: center;
}
.show_modal{
    display:flex!important;
}

.modal .modal-body {
    width: 70%;
    background: #fff;
    position:relative;
}

.modal .close_modal {
    width:50px;
    height:50px;
    display:flex;
    justify-content:center;
    align-items:center;
    border:2px solid #333;
    border-radius:50%;
    position:absolute;
    right:-32px;
    top:-50px;
    background:#fff;
    color:#333;
    font-size:20px;
    font-weight:700;
    cursor:pointer;
}

.modal .modal-body .modal-header{
    position: relative;
    z-index: 99;
    padding: 20px;
    text-align: center;
}

.modal-body .comment-box{
    margin:20px 0;
    padding:0 20px;
}
.modal-body .comment-box .box-title{
    margin:1em 0;
}
.modal-body .comment-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #efefef;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.modal-body .comment-box button {
    background: var(--main-color);
    color: #333;
    padding: 10px;
    border: 1px solid #333;
    cursor:pointer;
}
.comment-box textarea {
    width: 100%;
    resize: none;
    height: 100px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #efefef;
}

.alert-danger {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}
.alert-success {
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
}
.alert {
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}
.modal-rate {
    width: 100%;
    margin: 20px 0;
    height: 30px;
    text-align: center;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-rate .point {
    width: 30px;
    height: 30px;
    background: #fff;
    border: 3px solid #333;
    border-radius: 50%;
    margin-right: 10px;
    cursor:pointer;
    font-weight:700;
}
.modal-rate .point:hover{
    background:var(--main-color);
}
.modal-rate .active{
    background:var(--main-color);
}

#comment_list{
    width:100%;
    margin-bottom:20px;
    background:#fff;
}
.profile-reviews {
    margin: 20px 0;
    background: #fff;
    padding: 20px;
}
.profile-reviews .comment-item {
    padding: 10px;
    border: 1px solid #ddd;
    margin: 10px 0;
}
.profile-reviews .comment-item .comment-top strong {
    font-weight: 700;
}
.profile-reviews .comment-text {
    margin-top: 10px;
    padding-left: 20px;
}

.paggination {
    width: 100%;
    background: #fff;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%);
    padding: 10px;
    margin-top: 20px;
}
.paggination ul{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.paggination ul li {
    margin-right: 50px;
}
.paggination ul li a{
    padding:5px 10px;
    color:#333;
    background:var(--main-color);
    text-decoration:none;
}

.paggination ul li a:hover {
    background-color: #333;
    color: var(--main-color);
}

.aside-search {
    position: relative;
    padding: 10px;
    background: #f9f9f9;
    width: 100%;
}
.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.aside-search-button {
    position: absolute;
    right: 10px;
    top: 10px;
    height: 38px;
    border: 1px solid #ced4da;
    border-left: none;
    line-height: 41px;
    width: 40px;
    border-radius: 0.25rem;
}

.sidebar-sticky {
    position: relative;
    height: 100%;
}

.sidebar-sticky .absolute {
    position: absolute;
    width: 100%;
}

.sidebar-sticky .fixed {
    position: sticky;
    top: 10px;
}

.widget .ads{
    width:320px;
    height:300px;
}

.form-list {
    width: 100%;
    background: #fff;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%);
}

.form-list .form-item{
    margin-bottom:20px;
}

.form-list .form-item input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #efefef;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.form-list .form-item textarea {
    width: 100%;
    resize: none;
    height: 100px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #efefef;
}
.form-list .form-submit .btn-success {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    background:#198754;
    color:#fff;
    border:1px solid #efefef;
    cursor:pointer;
}

@media (max-width: 1141px) {
    .container {
        width: 100%;
        padding:0 20px;
    }
    .logo_container{
        display:block;
        height:unset;
    }
    header .banner{
        width:100%;
        padding:0 15px;
    }
}

@media (max-width: 1022px) {
    .cookie-box .cookie-text {
        width: 100%;
    }

    .cookie-box .cookie-button {
        margin-top: 20px;
        width: 100%;
    }
    .header-menu .menu-list{
        display:none;
    }
    .header-menu .menu-items {
        width: 100%;
        justify-content: space-between;
        padding: 0 15px;
    }
    .header-menu .menu-items .menu_icon{
        display:flex;
    }
    .profile-list {
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media (max-width: 800px) {
    .col-8 {
        width: 100%;
    }
    .aside {
        margin-top: 20px;
        width: 100%;
    }
    .accounts-box .account-item{
        width: 48%;
        margin-right: 4%;
    }
    .accounts-box .account-item:nth-child(3n){
        margin-right: 4%;
    }
    .accounts-box .account-item:nth-child(2n){
        margin-right: 0;
    }
}
@media (max-width: 600px) {
    .featured-box{
        height: auto;
        display: block;
    }
    .featured-box div{
        flex: unset;
        width: 100%;
        margin-bottom: 25px;
        padding:10px;
    }
    .featured-box div:last-child{
        margin-bottom: 0;
    }
    .accounts-box .account-item{
        width: 100%;
    }
    .column-list-2 .col-item{
        width: 100%;
        margin-bottom: 20px;
    }
    .column-list-2 .col-item:last-child{
        margin-bottom: 0;
    }
    .profile-list {
        -webkit-column-count: 1;
        column-count: 1;
    }
    .profile-card .avatar{
        float:unset;
        margin:0 auto 20px auto;
    }
    .profile-card .profile-bar{
        text-align:center;
    }
    .card .card-body{
        width:100%;
        height:auto;
    }
    .card .card-body img {
        width: 100%;
        height:auto;
    }
}

/*iconlist*/
.icon-list{width:16px;height:16px;background:url(../images/css_icon_set.png) -10px -10px;display:inline-block}
.icon-search{width:16px;height:16px;background:url(../images/css_icon_set.png) -46px -10px;display:inline-block}
.icon-person{width:16px;height:16px;background:url(../images/css_icon_set.png) -82px -10px;display:inline-block}
.icon-chat_text{width:16px;height:16px;background:url(../images/css_icon_set.png) -10px -82px;display:inline-block}
.icon-eye{width:16px;height:16px;background:url(../images/css_icon_set.png) -46px -82px;display:inline-block}
.icon-tornado{width:16px;height:16px;background:url(../images/css_icon_set.png) -82px -82px;display:inline-block}
.icon-clock{width:16px;height:16px;background:url(../images/css_icon_set.png) -118px -10px;display:inline-block}
.icon-pin_fill{width:16px;height:16px;background:url(../images/css_icon_set.png) -118px -46px;display:inline-block}
.icon-facebook_white{width:16px;height:16px;background:url(../images/css_icon_set.png) -118px -118px;display:inline-block}
.icon-instagram_white{width:16px;height:16px;background:url(../images/css_icon_set.png) -154px -10px;display:inline-block}
.icon-twitter_white{width:16px;height:16px;background:url(../images/css_icon_set.png) -154px -46px;display:inline-block}
.icon-youtube_white{width:16px;height:16px;background:url(../images/css_icon_set.png) -154px -82px;display:inline-block}
.icon-facebook {width: 16px;height: 16px;background: url(../images/css_icon_set.png) -82px -118px;display: inline-block;}
.icon-twitter {width: 16px;height: 16px;background: url(../images/css_icon_set.png) -46px -118px;display: inline-block;}
.icon-instagram {width: 16px;height: 16px;background: url(../images/css_icon_set.png) -10px -118px;display: inline-block;}
.icon-youtube {width: 16px;height: 16px;background: url(../images/css_icon_set.png) -118px -83px;display: inline-block;}