﻿@model SearchViewModel
@{
    ViewBag.Title = $"Search for Snapchat Users & Hashtags & Medias | ";
    ViewBag.Description = $"Search for Snapchat Users & Hashtags & Medias | ";
    ViewBag.Robots = "noindex,follow";
    ViewBag.Canonical = head.Canonical("Index", "Search", new { query = Model.Query });
}

<div class="container">
    <div class="col-8">
        <h3 class="box-title">@Model.Query Search Results</h3>
        <div class="grid-box">
            <div class="column-list-2">
                <div class="col-item">
                    <h3 class="box-title">Hastag Result</h3>
                    <div class="box-categories">
                        <ul>
                            @foreach (var item in Model.Hashtags)
                            {
                                <li><a href="@Url.Action("Index","Hashtag", new { slug = item.Name.ToLower() })" title="@seo.HashtagHrefText(item.Name)">@item.Name</a></li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="col-item">
                    <h3 class="box-title">Account Result</h3>
                    <div class="box-categories">
                        <ul>
                            @foreach (var item in Model.Profiles)
                            {
                                var fullname = item.FirstName + " " + item.LastName;
                                if (string.IsNullOrEmpty(fullname))
                                { fullname = item.Username; }

                                <li><a href="@Url.Action("Index","Profile", new { username = item.Username })" title="@seo.ProfileUserHref(item.Username, fullname)">@fullname</a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4 aside">
        <div class="sidebar-sticky">
            <div id="sidebar" class="absolute">
                <div class="widget">
                    <h3 class="widget-title">Quick Search</h3>
                    <div class="aside-search">
                        <input class="form-control" type="text" id="asideInput" value="@Model.Query" placeholder="Search" aria-label="Search">
                        <button class="aside-search-button" id="asideButton" aria-label="Search"><i class="icon-search"></i></button>
                    </div>
                </div>
                <div class="widget">
                    <h3 class="widget-title">Quick Search</h3>
                    <div class="ads">
                        <div></div>
                    </div>
                </div>
                <div class="widget">
                    <h3 class="widget-title">Lists</h3>
                    <ul class="widget-categories">
                        @foreach (var item in cache.Lists.OrderBy(x => Guid.NewGuid()).Take(15))
                        {
                            <li><a href="@Url.Action("Index","Category", new { slug = item.Slug })" title="@seo.CategoryHrefText(item.Name)">@item.Name</a></li>
                        }
                    </ul>
                </div>
                <div class="widget">
                    <h3 class="widget-title">Categories</h3>
                    <ul class="widget-categories">
                        @foreach (var item in cache.Categories.OrderBy(x => Guid.NewGuid()).Take(15))
                        {
                            <li><a href="@Url.Action("Index","Category", new { slug = item.Slug })" title="@seo.CategoryHrefText(item.Name)">@item.Name</a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
