﻿@model Snapcode.Model.Profile
@{
    ViewBag.Title = "AddMe";
    ViewBag.Description = "AddMe";
    ViewBag.Robots = "index,follow";
    ViewBag.Canonical = head.Canonical("Add", "Profile");
}

<div class="container">
    <div class="col-8">
        <h3 class="box-title">Add Me</h3>
        <div class="grid-box">

            @if (ViewBag.Success != null)
            {
                <div class="alert alert-success">
                    <p><strong>+</strong> @ViewBag.Success</p>
                </div>
            }

            @if (ViewBag.Error != null)
            {
                <div class="alert alert-danger">
                    @foreach (var item in ViewBag.Error)
                    {
                        <p><strong>+</strong> @item</p>
                    }
                </div>
            }

            <form action="@Url.Action("Add","Profile")" method="post">
                <div class="form-list">
                    <div class="form-item">
                        <label for="FirstName">FirstName</label>
                        <input type="text" name="FirstName" value="@Model.FirstName" id="FirstName" placeholder="First Name" />
                    </div>
                    <div class="form-item">
                        <label for="LastName">LastName</label>
                        <input type="text" name="LastName" value="@Model.LastName" id="LastName" placeholder="Last Name" />
                    </div>
                    <div class="form-item">
                        <label for="Username">Username</label>
                        <input type="text" name="Username" id="Username" value="@Model.Username" placeholder="Username" />
                    </div>
                    <div class="form-item">
                        <label for="Email">E-Mail</label>
                        <input type="text" name="Email" id="Email" value="@Model.Email" placeholder="Email" />
                    </div>
                    <div class="form-item">
                        <label for="About">About</label>
                        <textarea placeholder="Message" name="About" id="About">@Model.About</textarea>
                    </div>
                    <div class="form-item">
                        <label for="Interests">Interests</label>
                        <textarea placeholder="Interests; write with ',' example : fitness,sport,funny" name="Interests" id="Interests">@Model.Interests</textarea>
                    </div>
                    <div class="form-item">
                        <label for="Facebook">Facebook</label>
                        <input type="text" name="Facebook" id="Facebook" value="@Model.Facebook" placeholder="Facebook" />
                    </div>
                    <div class="form-item">
                        <label for="Twitter">Twitter</label>
                        <input type="text" name="Twitter" id="Twitter" value="@Model.Twitter" placeholder="Twitter" />
                    </div>
                    <div class="form-item">
                        <label for="Instagram">Instagram</label>
                        <input type="text" name="Instagram" id="Instagram" value="@Model.Instagram" placeholder="Instagram" />
                    </div>
                    <div class="form-item">
                        <label for="Pinterest">Pinterest</label>
                        <input type="text" name="Pinterest" id="Pinterest" value="@Model.Pinterest" placeholder="Pinterest" />
                    </div>
                    <div class="form-item">
                        <label for="Youtube">Youtube</label>
                        <input type="text" name="Youtube" id="Youtube" value="@Model.Youtube" placeholder="Youtube" />
                    </div>
                    <div class="form-item">
                        <label for="CategoryId">Select Category</label>
                        <select name="CategoryId" id="CategoryId" style="width: 80%; height: 45px; line-height: 45px; margin-bottom: 10px;">
                            @foreach (var item in cache.Categories)
                            {
                                <!option value="@item.Id" @Html.Raw(Model.CategoryId == item.Id ? "selected" : "")>@item.Name</!option>
                            }
                        </select>
                    </div>
                    <div class="form-submit">
                        <button class="btn-success">Add Me</button>
                    </div>
                </div>
            </form>

            <h3 class="box-title mt-5">New Register Accounts</h3>
            <div class="accounts-box">
                @foreach (var item in cache.Profiles.OrderBy(x => Guid.NewGuid()).Take(6))
                {
                    var fullname = item.FirstName + " " + item.LastName;
                    <div class="account-item">
                        <div class="image">
                            <a href="@Url.Action("Index","Profile", new { username = item.Username })" title="@seo.ProfileUserHref(item.Username, fullname)">
                                <picture>
                                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8/x8AAwMCAO+ip1sAAAAASUVORK5CYII="
                                         onerror="this.src='/_assets/images/not_found.png'"
                                         lazy-src="@item.BoorCode" width="100" height="100"
                                         alt="@seo.ProfileUserImage(item.Username,fullname,item.About)" title="@seo.ProfileUserImage(item.Username,fullname,item.About)">
                                </picture>
                            </a>
                        </div>
                        <div class="account-info">
                            <h3><a href="@Url.Action("Index","Profile", new { username = item.Username })" title="@seo.ProfileUserHref(item.Username, fullname)">@item.FirstName @item.LastName</a></h3>
                            <p>@@@item.Username</p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-4 aside">
        <div class="sidebar-sticky">
            <div id="sidebar" class="absolute">
                <div class="widget">
                    <h3 class="widget-title">Quick Search</h3>
                    <div class="aside-search">
                        <input class="form-control" type="text" id="asideInput" placeholder="Search" aria-label="Search">
                        <button class="aside-search-button" id="asideButton" aria-label="Search"><i class="icon-search"></i></button>
                    </div>
                </div>
                @if (cache.AdsAccounts != null)
                {
                    if (!string.IsNullOrEmpty(cache.AdsAccounts.Ads336x280))
                    {
                        <div class="widget">
                            <h3 class="widget-title">Sponsored</h3>
                            <div class="ads">
                                @cache.AdsAccounts.Ads336x280
                            </div>
                        </div>
                    }
                }
                <div class="widget">
                    <h3 class="widget-title">Lists</h3>
                    <ul class="widget-categories">
                        @foreach (var item in cache.Lists.OrderBy(x => Guid.NewGuid()).Take(15))
                        {
                            <li><a href="@Url.Action("Index","List", new { slug = item.Slug })" title="@seo.CategoryHrefText(item.Name)">@item.Name</a></li>
                        }
                    </ul>
                </div>
                <div class="widget">
                    <h3 class="widget-title">Categories</h3>
                    <ul class="widget-categories">
                        @foreach (var item in cache.Categories.OrderBy(x => Guid.NewGuid()).Take(15))
                        {
                            <li><a href="@Url.Action("Index","Category", new { slug = item.Slug })" title="@seo.CategoryHrefText(item.Name)">@item.Name</a></li>
                        }
                    </ul>
                </div>
                @if (cache.AdsAccounts != null)
                {
                    if (!string.IsNullOrEmpty(cache.AdsAccounts.Ads300x600))
                    {
                        <div class="widget">
                            <h3 class="widget-title">Sponsored</h3>
                            <div class="ads">
                                @cache.AdsAccounts.Ads300x600
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>