﻿@model HashtagViewModel
@{
    ViewBag.Title = "Categorized with Hashtag #" + Model.Hashtag.Name + " Snapchat Users";
    ViewBag.Description = "This page in hashtags use #" + Model.Hashtag.Name + " snapchat users, discover joint interest like other friends easy add and follow";
    ViewBag.Robots = "index,follow";
    ViewBag.Canonical = head.Canonical("Index", "Hashtag", new { slug = Model.Tag });
    var nextPage = Model.Page + 1;
    var backPage = Model.Page - 1;

    ViewBag.NextPage = Url.Action("Index", "Hashtag", new { slug = Model.Tag, page = nextPage });
}

<div class="container">
    <div class="text-card">
            <h1>Categorized with Hashtag @Model.Hashtag.Name Snapchat Users</h1>
            <p>This page in hashtags use @Model.Hashtag.Name snapchat users, discover joint interest like other friends easy add and follow. All page in 15 users</p>
            <p>Total Users : @Model.TotalCount - Total Pages : @Model.TotalPage</p>
    </div>

    <div class="profile-list">
            @foreach (var item in Model.Profiles)
            {
                var fullname = item.FirstName + " " + item.LastName;
                if (string.IsNullOrEmpty(fullname))
                {
                    fullname = item.Username;
                }

                <div class="col-4">
                    <div class="card">
                        <div class="card-header">
                            <a href="@Url.Action("Index","Profile", new { username = item.Username })" title="@seo.ProfileUserHref(item.Username, fullname)"><strong>@fullname</strong></a>
                            <p>@@@item.Username</p>
                        </div>
                        <div class="card-body tag-box">
                            <a href="@Url.Action("Index","Profile", new { username = item.Username })" title="@seo.ProfileUserHref(item.Username, fullname)">
                                <picture>
                                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8/x8AAwMCAO+ip1sAAAAASUVORK5CYII="
                                         lazy-src="@item.BoorCode"
                                         alt="@seo.ProfileUserImage(item.Username, fullname, item.About)"
                                         title="@seo.ProfileUserImage(item.Username, fullname, item.About)" />
                                </picture>
                            </a>
                        </div>
                        <div class="card-footer">
                            <p>
                                @item.About
                                @{ var interList = item.Interests.Split(','); }
                                <div class="mt-2" style="display:block">
                                    @foreach (var i in interList)
                                    {
                                        if (!i.Contains(" ") && i != "")
                                        {
                                            <a href="@Url.Action("Index","Hashtag", new { tag = i.ToLower() })/" title="@seo.HashtagHrefText(i)">#@i</a>
                                        }
                                    }
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
            }
    </div>
</div>
