﻿@model PopularViewModel
@{
    var fullname = Model.Profile.Fullname;
    ViewBag.Title = $"{fullname}'s snapchat profile on {Model.Profile.Username}";
    ViewBag.Description = $"Check stories and snaps anonymously from {fullname} @{Model.Profile.Username} Snapchat profile";
    ViewBag.Robots = "index,follow";
    ViewBag.Canonical = head.Canonical("Index", "Popular", new { username = Model.Profile.Username });
}

<div class="container">
    <div class="profile-card">
        <div class="avatar">
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8/x8AAwMCAO+ip1sAAAAASUVORK5CYII="
                 lazy-src="@Model.Profile.Picture"
                 onerror="this.src='/_assets/images/not_found.png'"
                 alt="@seo.ProfileUserImage(Model.Profile.Username, fullname, "")"
                 title="@seo.ProfileUserImage(Model.Profile.Username, fullname, "")" />
        </div>
        <div class="profile-bar">
            <h1>@fullname</h1>
            <p>@@@Model.Profile.Username</p>
            <div class="rate-box">
                <button class="rate-button">Rate & Review</button>
            </div>
        </div>
    </div>

    <div class="social-card">
        <p class="title">@fullname other social media accounts</p>
        <div class="flex-list">
            @{ bool haveSocail = false; }
            @if (!string.IsNullOrEmpty(Model.Profile.Instagram))
            {
                haveSocail = true;
                var instagram = Model.Profile.Instagram.Replace("instagram.com/", "").Replace("https://instagram.com/", "").Replace("https://www.instagram.com/", "").Replace("www.instagram.com/", "");
                <div class="instagram">
                    <a href="https://instagram.com/@instagram" rel="noreferrer" target="_blank"><i class="icon-instagram_white"></i> Instagram</a>
                </div>
            }
        </div>

        @if (!haveSocail)
        {
            <p>Not found any social media accounts</p>
        }
    </div>


    <div class="profile-reviews">
        <h3 class="box-title">@fullname Reviews & Rate</h3>
        <div id="comment_list">
            @if (Model.Reviews.Count > 0)
            {
                foreach (var item in Model.Reviews)
                {
                    <div class="comment-item">
                        <div class="comment-top">
                            <strong>@item.Fullname</strong> @item.CreateDate.ToTimeAgo()
                        </div>
                        <div class="comment-text">Rate Point : @item.Star</div>
                        <div class="comment-text">@item.Description</div>
                    </div>
                }
            }
            else
            {
                <div class="comment-item">
                    <div class="comment-text">Noting any reviews</div>
                </div>
            }
        </div>
    </div>

    <div class="profile-list">
        @foreach (var item in Model.Relateds)
        {
            var related_fullname = item.Fullname;
            if (string.IsNullOrEmpty(related_fullname))
            {
                related_fullname = item.Username;
            }

            <div class="col-4">
                <div class="card">
                    <div class="card-header">
                        <a href="@Url.Action("Index","Profile", new { username = item.Username })" title="@seo.ProfileUserHref(item.Username, related_fullname)"><strong>@related_fullname</strong></a>
                        <p>@@@item.Username</p>
                    </div>
                    <div class="card-body tag-box">
                        <a href="@Url.Action("Index","Profile", new { username = item.Username })" title="@seo.ProfileUserHref(item.Username, related_fullname)">
                            <picture>
                                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8/x8AAwMCAO+ip1sAAAAASUVORK5CYII="
                                     lazy-src="@item.Picture"
                                     onerror="this.src='/_assets/images/not_found.png'"
                                     alt="@seo.ProfileUserImage(item.Username, related_fullname, "")"
                                     title="@seo.ProfileUserImage(item.Username, related_fullname, "")" />
                            </picture>
                        </a>
                    </div>
                    <div class="card-footer">
                        <p>
                            @Html.Raw(item.Description)
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div class="modal">
    <div class="modal-body">
        <div class="close_modal">X</div>
        <div class="modal-header">
            <h3>@fullname Rate and Review</h3>
        </div>
        <div class="modal-rate">
            <div class="point" data-count="1">1</div>
            <div class="point" data-count="2">2</div>
            <div class="point" data-count="3">3</div>
            <div class="point" data-count="4">4</div>
            <div class="point" data-count="5">5</div>
        </div>

        <div class="comment-box">
            <form action="@Url.Action("Index","Popular")" method="post">
                <h3 class="box-title">Comment</h3>
                <p class="m-0">Fullname</p>
                <input type="text" id="Fullname" name="Fullname" placeholder="Fullname">
                <p class="m-0">E-Mail(cannot publish)</p>
                <input type="email" id="Email" name="Email" placeholder="E-Mail(cannot publish)">
                <p class="m-0">Comment</p>
                <textarea id="Review" name="Review" placeholder="Review"></textarea>
                <input type="hidden" id="Point" name="Point" value="0" />
                <input type="hidden" id="ProfileId" name="ProfileId" value="@Model.Profile.Id" />
                <button id="sendComment" type="submit">Send Comment</button>
            </form>
        </div>
    </div>
</div>

@section scripts{
    <script defer>
        var point = 0;

        var modal = document.getElementsByClassName("modal")[0];
        var body = document.getElementsByTagName("body")[0];
        var close_modal = document.getElementsByClassName("close_modal")[0];
        close_modal.addEventListener("click", closeModal);
        var rate_modal = document.getElementsByClassName("rate-button")[0];
        rate_modal.addEventListener("click", openModal);

        function closeModal() {
            modal.classList.remove("show_modal");
            body.classList.remove("overlay");
        }

        function openModal() {
            modal.classList.add("show_modal");
            body.classList.add("overlay");
        }

        var point_selector1 = document.getElementsByClassName("point")[0];
        point_selector1.addEventListener("click", select_point1);
        var point_selector2 = document.getElementsByClassName("point")[1];
        point_selector2.addEventListener("click", select_point2);
        var point_selector3 = document.getElementsByClassName("point")[2];
        point_selector3.addEventListener("click", select_point3);
        var point_selector4 = document.getElementsByClassName("point")[3];
        point_selector4.addEventListener("click", select_point4);
        var point_selector5 = document.getElementsByClassName("point")[4];
        point_selector5.addEventListener("click", select_point5);

        function select_point1() {
            point_selector1.classList.add("active");
            point_selector2.classList.remove("active");
            point_selector3.classList.remove("active");
            point_selector4.classList.remove("active");
            point_selector5.classList.remove("active");
            point = 1;
            document.getElementById("Point").value = "1";
        }
        function select_point2() {
            point_selector1.classList.remove("active");
            point_selector2.classList.add("active");
            point_selector3.classList.remove("active");
            point_selector4.classList.remove("active");
            point_selector5.classList.remove("active");
            point = 2;
            document.getElementById("Point").value = "2";
        }
        function select_point3() {
            point_selector1.classList.remove("active");
            point_selector2.classList.remove("active");
            point_selector3.classList.add("active");
            point_selector4.classList.remove("active");
            point_selector5.classList.remove("active");
            point = 3;
            document.getElementById("Point").value = "3";
        }
        function select_point4() {
            point_selector1.classList.remove("active");
            point_selector2.classList.remove("active");
            point_selector3.classList.remove("active");
            point_selector4.classList.add("active");
            point_selector5.classList.remove("active");
            point = 4;
            document.getElementById("Point").value = "4";
        }
        function select_point5() {
            point_selector1.classList.remove("active");
            point_selector2.classList.remove("active");
            point_selector3.classList.remove("active");
            point_selector4.classList.remove("active");
            point_selector5.classList.add("active");
            point = 5;
            document.getElementById("Point").value = "5";
        }
    </script>
}