﻿@{
    ViewBag.Title = $"Privacy | {cache.Setting.Sitename}";
    ViewBag.Description = $"Privacy | {cache.Setting.Sitename}";
    ViewBag.Robots = "noindex, nofollow";
    ViewBag.Canonical = head.Canonical("Privacy", "Page");
}


<div class="container">
    <div class="col-8">
        <h3 class="box-title">Privacy Policy</h3>
        <div class="grid-box">
            <div class="page-desc">
                <p>
                    <strong>A. Introduction</strong>
                </p>
                <ol>
                    <li>The privacy of our website visitors is very important to us, and we are committed to safeguarding it. This policy explains what we will do with your personal information.</li>
                    <li>Consenting to our use of cookies in accordance with the terms of this policy when you first visit our website permits us to use cookies every time you visit our website.</li>
                </ol>
                <p>
                    <strong>B. Credit</strong><br>
                    This document was created using a template from SEQ Legal (seqlegal.com)<br>
                    and modified to provide you with the relevant information to this website.
                </p>
                <p>
                    <strong>C. Collecting personal information</strong>
                </p>
                <p>The following types of personal information may be collected, stored, and used:</p>
                <ol>
                    <li>information about your computer including your IP address, geographical location, browser type and version, and operating system;</li>
                    <li>information about your visits to and use of this website including the referral source, length of visit, page views, and website navigation paths;</li>
                    <li>information, such as your email address, that you enter when you add your profile to our website;</li>
                    <li>information that you enter when you create a profile on our website with the intention of publishing it on the internet, which includes your name, profile picture, snapchat username, introduction texts (as written in the General/Snapchat description), location, tags, snaps, social media links;</li>
                    <li>information, such as your name and email address, that you enter in order to set up subscriptions to our emails and/or newsletters;</li>
                    <li>information that you enter while using the services on our website;</li>
                    <li>information that is generated while using our website, including when, how often, and under what circumstances you use it;</li>
                    <li>information relating to anything you purchase, services you use, or transactions you make through our website, which includes your email address;</li>
                    <li>information contained in any communications that you send to us by email or through our website, including its communication content and metadata;</li>
                    <li>any other personal information that you send to us.</li>
                </ol>
                <p>Before you disclose to us the personal information of another person, you must obtain that person’s consent to both the disclosure and the processing of that personal information in accordance with this policy</p>
                <p><strong>D. Using your personal information</strong></p>
                <p>Personal information submitted to us through our website will be used for the purposes specified in this policy or on the relevant pages of the website. We may use your personal information for the following:</p>
                <ol>
                    <li>administering our website and business;</li>
                    <li>personalizing our website for you;</li>
                    <li>enabling your use of the services available on our website;</li>
                    <li>sending you goods purchased through our website;</li>
                    <li>supplying services purchased through our website;</li>
                    <li>sending statements, invoices, and payment reminders to you, and collecting payments from you;</li>
                    <li>sending you non-marketing commercial communications;</li>
                    <li>sending you email notifications that you have specifically requested;</li>
                    <li>sending you our email newsletter, if you have requested it (you can inform us at any time if you no longer require the newsletter);</li>
                    <li>sending you marketing communications relating to our business or the businesses of carefully-selected third parties which we think may be of interest to you, by post or, where you have specifically agreed to this, by email or similar technology (you can inform us at any time if you no longer require marketing communications);</li>
                    <li>providing third parties with statistical information about our users (but those third parties will not be able to identify any individual user from that information);</li>
                    <li>dealing with inquiries and complaints made by or about you relating to our website;</li>
                    <li>keeping our website secure and prevent fraud;</li>
                    <li>verifying compliance with the terms and conditions governing the use of our website (including monitoring private messages sent through our website private messaging service); and</li>
                    <li>other uses.</li>
                </ol>
                <p>If you submit personal information for publication on our website, we will publish and otherwise use that information in accordance with the license you grant to us.</p>
                <p>We will not, without your express consent, supply your personal information to any third party for their or any other third party’s direct marketing.</p>
                <p><strong>E. Disclosing personal information</strong></p>
                <p>We may disclose your personal information to any of our employees, officers, insurers, professional advisers, agents, suppliers, or subcontractors as reasonably necessary for the purposes set out in this policy.</p>
                <p>We may disclose your personal information to any member of our group of companies (this means our subsidiaries, our ultimate holding company and all its subsidiaries) as reasonably necessary for the purposes set out in this policy.</p>
                <p>We may disclose your personal information:</p>
                <ol>
                    <li>to the extent that we are required to do so by law;</li>
                    <li>in connection with any ongoing or prospective legal proceedings;</li>
                    <li>in order to establish, exercise, or defend our legal rights (including providing information to others for the purposes of fraud prevention and reducing credit risk);</li>
                    <li>to the purchaser (or prospective purchaser) of any business or asset that we are (or are contemplating) selling; and</li>
                    <li>to any person who we reasonably believe may apply to a court or other competent authority for disclosure of that personal information where, in our reasonable opinion, such court or authority would be reasonably likely to order disclosure of that personal information.</li>
                </ol>
                <p>Except as provided in this policy, we will not provide your personal information to third parties.</p>
                <p><strong>F. International data transfers</strong></p>
                <ol>
                    <li>Information that we collect may be stored, processed in, and transferred between any of the countries in which we operate in order to enable us to use the information in accordance with this policy.</li>
                    <li>Information that we collect may be transferred to the following countries which do not have data protection laws equivalent to those in force in the European Economic Area: the United States of America, Russia, Japan, China, and India.</li>
                    <li>Personal information that you publish on our website or submit for publication on our website may be available, via the internet, around the world. We cannot prevent the use or misuse of such information by others.</li>
                    <li>You expressly agree to the transfers of personal information described in this Section F.</li>
                </ol>
                <p><strong>G. Retaining personal information</strong></p>
                <ol>
                    <li>This Section G sets out our data retention policies and procedure, which are designed to help ensure that we comply with our legal obligations regarding the retention and deletion of personal information.</li>
                    <li>Personal information that we process for any purpose or purposes shall not be kept for longer than is necessary for that purpose or those purposes.</li>
                    <li>
                        Without prejudice to article G-2, we will usually delete personal data falling within the categories set out below at the date/time set out below:
                        <ol type="a"><li>Emails will be deleted after 1 year</li></ol>
                    </li>
                    <li>
                        Notwithstanding the other provisions of this Section G, we will retain documents (including electronic documents) containing personal data:
                        <ol type="a">
                            <li>to the extent that we are required to do so by law;</li>
                            <li>if we believe that the documents may be relevant to any ongoing or prospective legal proceedings; and</li>
                            <li>in order to establish, exercise, or defend our legal rights (including providing information to others for the purposes of fraud prevention and reducing credit risk).</li>
                        </ol>
                    </li>
                </ol>
                <p><strong>H. Security of your personal information</strong></p>
                <ol>
                    <li>We will take reasonable technical and organizational precautions to prevent the loss, misuse, or alteration of your personal information.</li>
                    <li>We will store all the personal information you provide on our secure (password- and firewall-protected) servers.</li>
                    <li>All electronic financial transactions entered into through our website will be protected by encryption technology.</li>
                    <li>You acknowledge that the transmission of information over the internet is inherently insecure, and we cannot guarantee the security of data sent over the internet.</li>
                </ol>
                <p><strong>I. Amendments</strong></p>
                <p>We may update this policy from time to time by publishing a new version on our website. You should check this page occasionally to ensure you understand any changes to this policy.</p>
                <p><strong>J. Your rights</strong></p><p>You may instruct us to provide you with any personal information we hold about you; provision of such information will be subject to the following:</p>
                <ol>
                    <li>the payment of a fee $10; and</li>
                    <li>the supply of appropriate evidence of your identity.</li>
                </ol>
                <p>We may withhold personal information that you request to the extent permitted by law.</p>
                <p>You may instruct us at any time not to process your personal information for marketing purposes.</p>
                <p>In practice, you will usually either expressly agree in advance to our use of your personal information for marketing purposes, or we will provide you with an opportunity to opt out of the use of your personal information for marketing purposes.</p>
                <p><strong>K. Third party websites</strong></p>
                <p>Our website includes hyperlinks to, and details of, third party websites. We have no control over, and are not responsible for, the privacy policies and practices of third parties.</p>
                <p><strong>L. Updating information</strong></p>
                <p>Please let us know if the personal information that we hold about you needs to be corrected or updated.</p>
                <p><strong>M. Cookies</strong></p>
                <p>Our website uses cookies. A cookie is a file containing an identifier (a string of letters and numbers) that is sent by a web server to a web browser and is stored by the browser. The identifier is then sent back to the server each time the browser requests a page from the server. Cookies may be either “persistent” cookies or “session” cookies: a persistent cookie will be stored by a web browser and will remain valid until its set expiry date, unless deleted by the user before the expiry date; a session cookie, on the other hand, will expire at the end of the user session, when the web browser is closed. Cookies do not typically contain any information that personally identifies a user, but personal information that we store about you may be linked to the information stored in and obtained from cookies. We use both session and persistent cookies on our website.</p>
                <ol>
                    <li>
                        The names of the cookies that we use on our website, and the purposes for which they are used, are set out below:
                        <ol type="a">
                            <li>we use Google Analytics and Adsense on our website to recognize a computer when a user visits the website to track users as they navigate the website and target advertisements which may be of particular interest to specific users;</li>
                        </ol>
                    </li>
                    <li>
                        Most browsers allow you to refuse to accept cookies—for example:
                        <ol type="a">
                            <li>in Internet Explorer (version 10) you can block cookies using the cookie handling override settings available by clicking “Tools,” “Internet Options,” “Privacy,” and then “Advanced”;</li>
                            <li>in Firefox (version 24) you can block all cookies by clicking “Tools,” “Options,” “Privacy,” selecting “Use custom settings for history” from the drop-down menu, and unticking “Accept cookies from sites”; and</li>
                            <li>in Chrome (version 29), you can block all cookies by accessing the “Customize and control” menu, and clicking “Settings,” “Show advanced settings,” and “Content settings,” and then selecting “Block sites from setting any data” under the “Cookies” heading.</li>
                        </ol>
                    </li>
                </ol>
                <p>Blocking all cookies will have a negative impact upon the usability of many websites. If you block cookies, you will not be able to use all the features on our website.</p>
                <ol start="3">
                    <li>
                        You can delete cookies already stored on your computer—for example:
                        <ol type="a">
                            <li>in Internet Explorer (version 10), you must manually delete cookie files (you can find instructions for doing so at <a href="http://support.microsoft.com/kb/278835">http://support.microsoft.com/kb/278835</a> );</li>
                            <li>in Firefox (version 24), you can delete cookies by clicking “Tools,” “Options,” and “Privacy”, then selecting “Use custom settings for history”, clicking “Show Cookies,” and then clicking “Remove All Cookies”; and</li>
                            <li>in Chrome (version 29), you can delete all cookies by accessing the “Customize and control” menu, and clicking “Settings,” “Show advanced settings,” and “Clear browsing data,” and then selecting “Delete cookies and other site and plug-in data” before clicking “Clear browsing data.”</li>
                        </ol>
                    </li>
                    <li>Deleting cookies will have a negative impact on the usability of many websites.</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="col-4 aside">
        <div class="sidebar-sticky">
            <div id="sidebar" class="absolute">
                <div class="widget">
                    <h3 class="widget-title">Quick Search</h3>
                    <div class="aside-search">
                        <input class="form-control" type="text" id="asideInput" placeholder="Search" aria-label="Search">
                        <button class="aside-search-button" id="asideButton" aria-label="Search"><i class="icon-search"></i></button>
                    </div>
                </div>
                @if (cache.AdsAccounts != null)
                {
                if (!string.IsNullOrEmpty(cache.AdsAccounts.Ads336x280))
                {
                <div class="widget">
                    <h3 class="widget-title">Sponsored</h3>
                    <div class="ads">
                        @cache.AdsAccounts.Ads336x280
                    </div>
                </div>
                }
                }
                <div class="widget">
                    <h3 class="widget-title">Lists</h3>
                    <ul class="widget-categories">
                        @foreach (var item in cache.Lists.OrderBy(x => Guid.NewGuid()).Take(15))
                        {
                        <li><a href="@Url.Action(" Index","List", new { slug=item.Slug })" title="@seo.CategoryHrefText(item.Name)">@item.Name</a></li>
                        }
                    </ul>
                </div>
                <div class="widget">
                    <h3 class="widget-title">Categories</h3>
                    <ul class="widget-categories">
                        @foreach (var item in cache.Categories.OrderBy(x => Guid.NewGuid()).Take(15))
                        {
                        <li><a href="@Url.Action(" Index","Category", new { slug=item.Slug })" title="@seo.CategoryHrefText(item.Name)">@item.Name</a></li>
                        }
                    </ul>
                </div>
                @if (cache.AdsAccounts != null)
                {
                if (!string.IsNullOrEmpty(cache.AdsAccounts.Ads300x600))
                {
                <div class="widget">
                    <h3 class="widget-title">Sponsored</h3>
                    <div class="ads">
                        @cache.AdsAccounts.Ads300x600
                    </div>
                </div>
                }
                }
            </div>
        </div>
    </div>
</div>