﻿@model ListViewModel
@{
    ViewBag.Title = "List of " + Model.List.Name + " Popular Snapchat Users";
    ViewBag.Description = "This page in list of " + Model.List.Name + " popular snapchat users, discover joint interest like other friends easy add and follow";
    ViewBag.Robots = "index,follow";
    ViewBag.Canonical = head.Canonical("Index", "List", new { slug = Model.List.Slug });
    var nextPage = Model.Page + 1;
    var backPage = Model.Page - 1;

    ViewBag.NextPage = Url.Action("Index", "Category", new { slug = Model.List.Slug, page = nextPage });
}

<div class="container">
    <div class="text-card">
        <h1>Categorized @Model.List.Name Popular Snapchat Users</h1>
        <p>This page in categorized @Model.List.Name popular snapchat users, discover joint interest like other friends easy add and follow. All page in 15 users</p>
        <p>Total Users : @Model.TotalCount - Total Pages : @Model.TotalPage</p>
    </div>

    <div class="profile-list">
        @foreach (var item in Model.Populars)
        {
            var fullname = item.Fullname;
            if (string.IsNullOrEmpty(fullname))
            {
                fullname = item.Username;
            }

            <div class="col-4">
                <div class="card">
                    <div class="card-header">
                        <a href="@Url.Action("Index","Popular", new { username = item.Username })" title="@seo.ProfileUserHref(item.Username, fullname)"><strong>@fullname</strong></a>
                        <p>@@@item.Username</p>
                    </div>
                    <div class="card-body tag-box">
                        <a href="@Url.Action("Index","Popular", new { username = item.Username })" title="@seo.ProfileUserHref(item.Username, fullname)">
                            <picture>
                                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8/x8AAwMCAO+ip1sAAAAASUVORK5CYII="
                                     lazy-src="@item.Picture"
                                     onerror="this.src='/_assets/images/not_found.png'"
                                     alt="@seo.ProfileUserImage(item.Username, fullname, "")"
                                     title="@seo.ProfileUserImage(item.Username, fullname, "")" />
                            </picture>
                        </a>
                    </div>
                    <div class="card-footer">
                        <p>
                            @Html.Raw(item.Description)
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>

    @if (Model.TotalPage > 1)
    {
        <div class="paggination">
            <ul class="list-styling">
                @if (Model.Page == 1 && Model.TotalPage > 1)
                {
                    <li class="list-inline-item"><a href="@Url.Action("Index","List", new { slug = Model.List.Slug, page = nextPage })">Next</a></li>
                }
                else if (Model.Page > 1 && Model.TotalPage == 2)
                {
                    <li class="list-inline-item"><a href="@Url.Action("Index","List", new { slug = Model.List.Slug, page = backPage })">Back</a></li>
                }
                else if (Model.Page > 1 && Model.TotalPage > 2)
                {
                    <li class="list-inline-item"><a href="@Url.Action("Index","List", new { slug = Model.List.Slug, page = backPage })">Back</a></li>
                    <li class="list-inline-item"><a href="@Url.Action("Index","List", new { slug = Model.List.Slug, page = nextPage })">Next</a></li>
                }
                else
                {
                    <li>@Model.Page</li>
                }
            </ul>
        </div>
    }
</div>