﻿@{
    ViewBag.Title = cache.Setting.SiteHomeTitle;
    ViewBag.Description = cache.Setting.SiteHomeDesription;
    ViewBag.Robots = "index,follow";
    ViewBag.Canonical = head.Canonical("Index", "Home");
}

<div class="container">
    <div class="col-8">
        <h3 class="box-title">Featureds</h3>
        <div class="grid-box">
            <div class="featured-box">
                <div>
                    <h3>Add Me</h3>
                    <p>By adding your own account, you can make friends with new people and communicate with people with the hashtag you love.</p>
                </div>
                <div>
                    <h3>Categorized</h3>
                    <p>It is a system where you can easily find and follow popular Snapchat users, famous players or famous social media phenomena. This system has nothing to do with snapchat, users who are here may not be on snapchat</p>
                </div>
                <div>
                    <h3>Discover</h3>
                    <p>Thanks to its easy use, you can add your account and discover the accounts you want to follow later. You can make new friends with special lists listed in accordance with the criteria you are looking for.</p>
                </div>
            </div>

            <div class="column-list-2">
                <div class="col-item">
                    <h3 class="box-title">Snapchat Categories</h3>
                    <div class="box-categories">
                        <ul>
                            @foreach (var item in cache.Categories.OrderBy(x => Guid.NewGuid()).Take(7))
                            {
                                <li><a href="@Url.Action("Index","Category", new { slug = item.Slug })" title="@seo.CategoryHrefText(item.Name)">@item.Name</a></li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="col-item">
                    <h3 class="box-title">Account Lists</h3>
                    <div class="box-categories">
                        <ul>
                            @foreach (var item in cache.Lists.OrderBy(x => Guid.NewGuid()).Take(7))
                            {
                                <li><a href="@Url.Action("Index","List", new { slug = item.Slug })" title="@seo.ListHrefText(item.Name)">@item.Name</a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>

            <h3 class="box-title mt-5">Popular Accounts</h3>
            <div class="accounts-box">
                @foreach (var item in cache.PopularAccounts.OrderBy(x => Guid.NewGuid()).Take(6))
                {
                    <div class="account-item">
                        <div class="image">
                            <a href="@Url.Action("Index","Popular", new { username = item.Username })" title="@seo.PopularUserHref(item.Username,item.Fullname)">
                                <picture>
                                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8/x8AAwMCAO+ip1sAAAAASUVORK5CYII="
                                         lazy-src="@item.Picture" width="100" height="100" 
                                         onerror="this.src='/_assets/images/not_found.png'"
                                         alt="@seo.PopularUserImage(item.Username,item.Fullname)" title="@seo.PopularUserImage(item.Username,item.Fullname)">
                                </picture>
                            </a>
                        </div>
                        <div class="account-info">
                            <h3><a href="@Url.Action("Index","Popular", new { username = item.Username })" title="@seo.PopularUserHref(item.Username,item.Fullname)">@item.Fullname</a></h3>
                            <p>@@@item.Username</p>
                        </div>
                    </div>
                }
            </div>
            <h3 class="box-title mt-5">New Register Accounts</h3>
            <div class="accounts-box">
                @foreach (var item in cache.Profiles.OrderBy(x => Guid.NewGuid()).Take(6))
                {
                    var fullname = item.FirstName + " " + item.LastName;
                    <div class="account-item">
                        <div class="image">
                            <a href="@Url.Action("Index","Profile", new { username = item.Username })" title="@seo.ProfileUserHref(item.Username, fullname)">
                                <picture>
                                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8/x8AAwMCAO+ip1sAAAAASUVORK5CYII="
                                         onerror="this.src='/_assets/images/not_found.png'"
                                         lazy-src="@item.BoorCode" width="100" height="100" 
                                         alt="@seo.ProfileUserImage(item.Username,fullname,item.About)" title="@seo.ProfileUserImage(item.Username,fullname,item.About)">
                                </picture>
                            </a>
                        </div>
                        <div class="account-info">
                            <h3><a href="@Url.Action("Index","Profile", new { username = item.Username })" title="@seo.ProfileUserHref(item.Username, fullname)">@item.FirstName @item.LastName</a></h3>
                            <p>@@@item.Username</p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-4 aside">
        <div class="sidebar-sticky">
            <div id="sidebar" class="absolute">
                <div class="widget">
                    <h3 class="widget-title">Quick Search</h3>
                    <div class="aside-search">
                        <input class="form-control" type="text" id="asideInput" placeholder="Search" aria-label="Search">
                        <button class="aside-search-button" id="asideButton" aria-label="Search"><i class="icon-search"></i></button>
                    </div>
                </div>
                @if (cache.AdsAccounts != null)
                {
                    if (!string.IsNullOrEmpty(cache.AdsAccounts.Ads336x280))
                    {
                        <div class="widget">
                            <h3 class="widget-title">Sponsored</h3>
                            <div class="ads">
                                @cache.AdsAccounts.Ads336x280
                            </div>
                        </div>
                    }
                }
                <div class="widget">
                    <h3 class="widget-title">Lists</h3>
                    <ul class="widget-categories">
                        @foreach (var item in cache.Lists.OrderBy(x => Guid.NewGuid()).Take(15))
                        {
                            <li><a href="@Url.Action("Index","List", new { slug = item.Slug })" title="@seo.CategoryHrefText(item.Name)">@item.Name</a></li>
                        }
                    </ul>
                </div>
                <div class="widget">
                    <h3 class="widget-title">Categories</h3>
                    <ul class="widget-categories">
                        @foreach (var item in cache.Categories.OrderBy(x => Guid.NewGuid()).Take(15))
                        {
                            <li><a href="@Url.Action("Index","Category", new { slug = item.Slug })" title="@seo.CategoryHrefText(item.Name)">@item.Name</a></li>
                        }
                    </ul>
                </div>
                @if (cache.AdsAccounts != null)
                {
                    if (!string.IsNullOrEmpty(cache.AdsAccounts.Ads300x600))
                    {
                        <div class="widget">
                            <h3 class="widget-title">Sponsored</h3>
                            <div class="ads">
                                @cache.AdsAccounts.Ads300x600
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
